# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Sphinx documentation
docs/_build/

# Fusesoc
build/
*.eda.yml

# Simulation
*.vcd
*.fst
*.lxt
*.lxt2

# FPGA build artifacts
*.bit
*.bin
*.svf
*.jic
*.rbf
*.sof

# Editor
*~
*.swp
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cocotb
sim_build
results.xml
